body {
   background-color: black;
}

main {
  height: 100vh;
  background-color: black;
  color: #e0e3e4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  padding: 2rem;
  background-color: rgb(56, 105, 105);
  color: #e0e3e4;
  border: none;
  font-size: 1.3rem;
  border-radius: 0.2rem;
}

.button:hover {
  cursor: pointer;
}